if (comment && comment.user)
  article.comment.clearfix
    a(href="/users/#{comment.user.username}", data-toggle="tooltip",
      title="#{comment.user.name || comment.user.username}").pull-left
      img(src="#{comment.user.avatar_url}").avatar-middle
    .comment-item
      .comment-datetime
        p
          i.icon-time.icon-white
          | &nbsp;
          = moment(comment.created_at).fromNow()
      .comment-body !{comment.body_html}
