extends ../layout/layout

block content
  div.row-fluid
    .span8.user-edit.offset2
      .row-fluid.user-edit-cap
        h4 信息设置
      .row-fluid.display
        p 用户名：#{profile.uname}
        P 邮箱&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: #{profile.email}
      .row-fluid.edit
        form.form-horizontal(method="post", action="/user/"+profile.username, enctype="multipart/form-data")
            input(type="hidden", name='_method', value='PUT')
            input(type="hidden", name='_csrf', value=token)
            .control-group
              label.control-label() 昵称
              .controls
                input#nickname.input-xlarge(type="text",name='name',value=profile.uname)
            .control-group
              label.control-label() 个人主页
              .controls
                input#nickname.input-xlarge(type="text",name='name',value=profile.uname)
            .control-group
              label.control-label(for='username') 地点
              .controls
                input#namename.input-xlarge(type='text', name="name", value=profile.name)
                  //"id = name" is used.
            .control-group
              label.control-label(for='Email') 公司
              .controls
                input(type='text', name="email", value=profile.email, placeholder='Enter the tags')
            .btn-bar
              button.btn.btn-primary(type='submit') 提交
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              a.btn(href='/user/'+profile.username, title="cancel") 取消
