extends ../layout/layout

block content
  div.container

    p 用户名：#{profile.uname}
    P 昵称: #{profile.name}
    p Email：#{profile.email}
    h2 joined_projects

  .row
    .span7
      form.form-horizontal(method="post", action="/user/"+profile.username, enctype="multipart/form-data")
        input(type="hidden", name='_method', value='PUT')
        input(type="hidden", name='_csrf', value=token)
        .control-group
          label.control-label(for='username') name
          .controls
            input#name.input-xlarge(type='text', name="name", value=profile.name, placeholder='Enter the title')

        .control-group
          label.control-label(for='Email') Email
          .controls
            input#email(type='text', name="email", value=profile.email, placeholder='Enter the tags')

        .form-actions
          button.btn.btn-primary(type='submit') Save changes
          &nbsp;
          a.btn(href='/user/'+profile.username, title="cancel") Cancel
