extends ../layout/layout

block content
  div.container

    p 用户名：#{profile.uname}
    p Email：#{profile.email}
    h2 joined_projects

 .row
    .span7
      form.form-horizontal(method="post", action="user/"+ profile._id, enctype="multipart/form-data")

        .control-group
          label.control-label(for='username') username
          .controls
            input#title.input-xlarge(type='text', name="title", value=profile.name, placeholder='Enter the title')

        .control-group
          label.control-label(for='title') Image
          .controls
            input(type='file', name="image[]")

        .control-group
          label.control-label(for='desc') Body
          .controls
            textarea#desc.input-xlarge(type='text', rows="5", name="body", placeholder='Enter the article description')=article.body

        .control-group
          label.control-label(for='desc') Tags
          .controls
            input#tags(type='text', name="tags", value=article.tags, placeholder='Enter the tags')

        .form-actions
          button.btn.btn-primary(type='submit') Save changes
          &nbsp;
          a.btn(href='/articles', title="cancel") Cancel
