extends ../layout/layout

block content
  .container.session-body
    .row.user
      .span1.user-head
        a(href='/users/#{profile.username}', data-toggle="tooltip",
          title="#{profile.name || profile.username}")
          img(src='#{profile.avatar_url}').avatar-large
      .span11.user-info
        ul
          li
            label 用户名
            strong= profile.username
          li
            label 邮箱
            strong= profile.email
          if profile.name
            li
              label 全名
              strong= profile.name
          if profile.company
            li
              label 公司
              strong= profile.company
          if profile.location
            li
              label 地点
              strong= profile.location
          if profile.website
            li
              label 个人主页
              a(href= profile.website, target="_blank")
                strong= profile.website
          if profile.introduction
            li
              label 自我介绍
              strong= profile.introduction
    .row.user-projects
      .span8
        h4 参加的项目
        if profile.joined_projects.length == 0
          p 还未参加任何项目
        else
          ul
            each joined_project in profile.joined_projects
              li
                a(href="/users/#{joined_project.project.provider.username}", data-toggle="tooltip",
                  title="#{joined_project.project.provider.name || joined_project.project.provider.username}")
                  img(src= joined_project.project.provider.avatar_url).avatar-small
                a(href="/projects/#{joined_project.project._id}") #{joined_project.project.name}
        h4 关注的项目
        if profile.starred_projects.length == 0
          p 还未关注任何项目
        else
          ul
            each starred_project in profile.starred_projects
              li
                a(href="/users/#{starred_project.project.provider.username}", data-toggle="tooltip",
                  title="#{starred_project.project.provider.name || starred_project.project.provider.username}")
                  img(src= starred_project.project.provider.avatar_url).avatar-small
                a(href="/projects/#{starred_project.project._id}") #{starred_project.project.name}
        if locals.user && locals.user.is_admin
          form.form-vertical(method="post", action="/articles/create")
            input(type="hidden", name='_csrf', value=token)
            .control-group
              .controls
                input(type="text", name="title", placeholder = "标题")
                textarea(name="body",rows="5", placeholder = "内容")
            button.btn.btn-primary(type='submit') 发布
