extends ../layout/layout

block content
  div.container

    p 用户名：#{profile.uname}
    P 昵称: #{profile.name}
    p Email：#{profile.email}
    h2 joined_projects
    each joined_project in profile.joined_projects
      p #{joined_project.project.name}
      p #{joined_project.project.provider.uname}

    if locals.user && locals.user.is_admin
      form(method="post", action="/create_article")
        input(type="hidden", name='_csrf', value=token)
        div
          label title:
          input(type="text", name="title")
        div
          label content:
          input(type="text", name="body")
        div
          input(type="submit", value="Submit")
