extends ../layout/layout

block content
  .container.session-body.user
    .row.user-meta
      .span1.user-head
        a(href='/users/#{profile.username}', data-toggle="tooltip",
          title="#{profile.name || profile.username}")
          img(src='#{profile.avatar_url}').avatar-large
      .span6.user-info
        dl.dl-horizontal
          dt.labl 用户名:
          dd
            strong= profile.username
          if profile.name
            dt.labl 全名
            dd
              strong= profile.name
          if profile.company
            dt.labl 公司
            dd
              strong= profile.company
          if profile.location
            dt.labl 地点
            dd
              strong= profile.location
          if profile.website
            dt.labl 个人主页
            dd
              a(href= profile.website, target="_blank")
                strong= profile.website
          if profile.introduction
            dt.labl 自我介绍
            dd
              strong= profile.introduction
    .row.user-projects
      .span8
        h4 参加的项目
        if profile.joined_projects.length == 0
          p 还未参加任何项目
        else
          ul
            each joined_project in profile.joined_projects
              li
                a(href="/users/#{joined_project.project.provider.username}", data-toggle="tooltip",
                  title="#{joined_project.project.provider.name || joined_project.project.provider.username}")
                  img(src= joined_project.project.provider.avatar_url).avatar-small
                a(href="/projects/#{joined_project.project._id}") #{joined_project.project.name}
        h4 关注的项目
        if profile.starred_projects.length == 0
          p 还未关注任何项目
        else
          ul
            each starred_project in profile.starred_projects
              li
                a(href="/users/#{starred_project.project.provider.username}", data-toggle="tooltip",
                  title="#{starred_project.project.provider.name || starred_project.project.provider.username}")
                  img(src= starred_project.project.provider.avatar_url).avatar-small
                a(href="/projects/#{starred_project.project._id}") #{starred_project.project.name}
        if locals.user && locals.user.is_admin
          form.form-vertical(method="post", action="/articles/create")
            input(type="hidden", name='_csrf', value=token)
            .control-group
              .controls
                input(type="text", name="title", placeholder = "标题")
                textarea(name="body", rows="10", placeholder = "内容")
            button.btn.btn-primary(type='submit') 发布
