block header
    div.navbar.navbar-fixed-top.navbar-inverse.navbar-header
      .navbar-inner
        .container
          a.brand(href="/")
            img(src="/img/logo.png", alt="GeekOn")
          ul.nav
            li
              a(href="/details") 活动详情
            li
              a(href="/projects") 创意项目
            li
              a(href="/geeks") Geek
            //- li
            //-   a(href="#") 赞助合作
          ul.nav.pull-right
            if locals.user && locals.user.username
              li
                img(src='#{locals.user.avatar_url}').avatar-middle
              li.dropdown
                a.dropdown-toggle(data-toggle='dropdown', data-target='#', href="/user/#{locals.user.username}")
                  | #{locals.user.username}
                  b.caret
                ul.dropdown-menu
                  li
                    a(href='/projects/create')
                      i.icon-plus
                      | 创建项目
                  li
                    a(href="/users/#{locals.user.username}")
                      i.icon-user
                      | 个人主页
                  li
                    a(href="/users/#{locals.user.username}/edit")
                      i.icon-wrench
                      | 个人设置
                  li
                    a(href="/logout")
                      i.icon-chevron-left
                      | 登出
            else
              li
                a(href="/signup") 注册
              li
                a(href="/login") 登录
