extends ../layout/layout

block content
  div.row-fluid
    div.span2
      h4 项目列表
    div.span2.offset5
       a.new-project-btn(href='/create_project') 创建项目

  div.row-fluid.project

    div.span9
      div.row-fluid.project-row
       each project,i in projects
            div.span4.unit
              div.row-fluid.head
                div.span3.head-img
                  a
                   img(href='/user/project.provider._id',src='#{project.provider.avatar_url}')
                div.span9.head-info
                  span 项目名称:
                  a.title(href='/project/'+project._id, title=project.name) #{project.name}
                  br
                  span 项目提供者:
                  a(href="/user/"+project.provider._id)=project.provider.username
              div.row-fluid.desc
                span 项目的内容：#{project.preview}
              div.row-fluid.inf
                .span3
                  a(href="#")
                    i.icon-heart
                    span 感兴趣
                .span3
                  a(href="#")
                    i.icon-comment
                    span 留言
                .span3
                  a(href="#")
                    i.icon-star
                    span 收藏
    div.span3.right-side
      div.row-fluid.news
        h4 最新动态
      br
      div.row-fluid.sponsor
        h4 赞助信息
      br
      div.row-fluid.contact
        h4 联系我们
