extends ../layout/layout

block content
  div.project-show.row-fluid
    div.span9
      .project-content
        div.row-fluid
          div.span10
            h2.project-title #{project.name}
            br
            p !{project.preview_html}
          div.span2
            img(src="/img/monkey.png", alt="")
        p.project-body !{project.requirement_html}
      .row-fluid
        .span3
          h4 参与人员
        .span1.offset6
          div.row-fluid.follow-btn
              a(href='/project/#{project.id}/edit')
                i.icon-edit
                span 编辑
        .span2
            div.row-fluid.follow-btn
              a(href='/project/#{project.id}/follow')
                i.icon-heart
                span 参与
      table.table.table-condensed.table-hover
        each participant in project.participants
          include participant/participants
      .comments
        p.comments-cap 共 #{project.comments.length} 条回复
        table.table
          each comment in project.comments
            include ../comment/comments
        if project.comments.length == 0
          .prompt
            p 尚无回复
      if locals.user
          include comment/add_comment
      else
          p.info 登录后即可发表回复
    include ../layout/right-side
