extends ../layout/layout

block content
  div.container
    p project name:	#{project.name}
    p project preview: !{project.preview_html}
    p project content: !{project.requirement_html}
    a(href='/project/#{project._id}/edit') Edit the project
    h2 Participants
    each participant in project.participants
      include participant/participants
    p
        a(href='/project/#{project.id}/follow') follow
    br
    h2 Comments
    each comment in project.comments
      include ../comment/comments
    if locals.user
        include comment/add_comment
    else
        p Only if you login, can you make a comment!

