extends layout/layout

block content
  .page-title.block-dark-gblue
    .container
      .row
        #intro.span8
          #geekon.row.intro
            .span1.intro-badge
              span.flat-btn.flat-btn-intro 极客行动
            .span5
              p
                | 为期两天（36小时不间断）的围绕移动互联网和创意生活主题的技术开发大赛。
                | 活动旨在提升极客的协作能力，促进极客的思想碰撞，鼓励颠覆性创新。
          #geekstack.row.intro
            .span1.intro-badge
              span.flat-btn.flat-btn-intro 极客栈
            .span5
              p
                | 极客栈是南京本土的一个非营利性社会组织，于2013年3月成立。
                | 他们都是技术爱好者，其中既有来自于高校的老师和学生、科技型企业的工程师、还有处在奋斗阶段的创业者。
        #workflow.span2
          ul
            li
              a(href="/projects/create").flat-btn.flat-btn-go
                i.icon-plus.icon-white
                | &nbsp;发起项目
            li
              a(href="/geeks").flat-btn.flat-btn-go
                .icon-globe.icon-white
                | &nbsp;寻找队友
            li
              a(href="/projects").flat-btn.flat-btn-go
                .icon-gift.icon-white
                | &nbsp;寻找项目
  .row.info
    .container
      p
        | 大赛时间为7.6-7.7，地点为南京晨光
        a(href="http://j.map.baidu.com/sa-Qi")
          | 1865创意产业园C1楼大厅
        | 。奖品详情，
        a(href="/details#prize")
          | 去看看
  .trends.block-light-gblue
    .container
      .row
        .span8.projects
          each pro in projects
            article.clearfix
              a(href="/users/#{pro.provider.username}", data-toggle="tooltip",
                title="#{pro.provider.name || pro.provider.username}").pull-left
                img(src="#{pro.provider.avatar_url}").avatar-middle
              .pro-item
                .pro-name
                  a(href="/projects/#{pro._id}")= pro.name
                .pro-datetime
                  p
                    i.icon-time.icon-white
                    | &nbsp;
                    = moment(pro.created_at).fromNow()
                .pro-summary
                  p= pro.summary.substring(0, 120)
                .pro-part
                  each part in pro.participants
                    a(href="/users/#{part.user.username}", data-toggle="tooltip",
                      title="#{part.user.name || part.user.username}")
                      img(src="#{part.user.avatar_url}").avatar-small
        .span4.news
          .news-box
            - var article = articles[0]
            if article
              .news-title
                a(href="/articles/#{article._id}")
                  h4= article.title
              .news-body
                p= article.body.substring(0, 90)
              wb:follow-button(uid="3240119923", type="red_1").follow-button
  .corp
    .container
      .row
        .span12
          h3.corp-title 赞助方
          .ent-list
            a(href="http://www.cg1865.com/")
              img(src="/img/logo-1865.jpg")
            a(href="http://www.innovation-camp.com/")
              img(src="/img/logo-iCamp.jpg")
            a(href="https://www.upyun.com/")
              img(src="/img/logo-upyun.jpg")
            a(href="http://www.ucloud.cn/")
              img(src="/img/logo-ucloud.jpg")
      .row
        .span12
          h3.corp-title 合作方
          .ent-list
            a(href="http://segmentfault.com")
              img(src="/img/logo-segmentfault.jpg")
            a(href="http://www.oschina.net/")
              img(src="/img/logo-oschina.jpg")
            a(href="https://gitcafe.com")
              img(src="/img/logo-gitcafe.png")
            a(href="https://www.teambition.com")
              img(src="/img/logo-teambition.jpg")
            a(href='http://www.ucai.cn')
              img(src='/img/logo-ucai.jpg')
            a(href="http://weibo.com/nesaloon")
              img(src="/img/logo-nesaloon.jpg")
          .ent-list
            a(href="#")
              img(src="/img/logo-qichuang.jpg")
            a(href="http://www.html5dw.com")
              img(src="/img/logo-HTML5.jpg")
            a(href="http://www.do-idea.org")
              img(src="/img/logo-nJmakerspace.jpg")
            a(href="http://iDev.com.cn")
              img(src="/img/logo-iDev.jpg")
            a(href="http://teamhello.com")
              img(src="/img/logo-teamhello.jpg")
            a(href="http://nanjinglug.org/")
              img(src="/img/logo-njlug.jpg")
block scripts
  script(type='text/javascript')
    $(".trends .projects a").tooltip()
