extends layout/layout

block content
  div.home
    .home-top
      div.home-top-wrap
        div.row-fluid.home-cap
          h3 加入极客栈&nbsp;&nbsp;发现项目&nbsp;或者
            br
            span.create
              a(href='/projects/create') 创建项目
        div.row-fluid.three-btn
          .span4
            a(href="/projects")
              img(src="/img/project.png")
              h3 发现项目
          .span4
            a(href="/geeks")
              img(src="/img/team.png")
              h3 寻找队友
          .span4
            a(href="/details#prize")
              img(src="/img/prize.png")
              h3 比赛颁奖
        div.home-projects
          each project in projects
            .discover-row
              a(href= "/projects/#{project._id}")
                .row-fluid
                  .span8
                    span.title= project.name
                    p.summary= project.summary
                  .span2
                    .row-fluid
                      i.icon-user
                      span= project.provider.name|| project.provider.username
                    .row-fluid
                      p= moment(project.created_at).format('LL')
                  .span1.join-btn
                    a(href='/projects/#{project.id}/join').join
                      i.icon-plus
                      span 加入
    div.row-fluid.latest-news
      div.home-bottom-wrap.row-fluid
        .span6
          h4 GEEK名片
          div.row-fluid.card
            .span2
              p 极客
            .span10
              p 含有智力超群和努力的语意，又被用于形容对计算机和网络技术有狂热兴趣并投入大量时间钻研的人。
          div.row-fluid.card
            .span2
              p 极客行动
            .span10
              p 为期两天（36小时不间断）的围绕移动互联网和创意生活主题的技术开发大赛。活动旨在提升极客的协作能力，促进极客的思想碰撞，鼓励颠覆性创新。
          div.row-fluid.card
            .span2
              p 极客栈
            .span10
              p 极客栈是南京本土的一个非营利性社会组织，于2013年3月成立。他们都是技术爱好者，其中既有来自于高校的老师和学生、科技型企业的工程师、还有处在奋斗阶段的创业者。
        .span6
          h4 LATESTED NEWS
          each article in articles
            .new-row
                .quote
                    .row-fluid
                        a(href="/articles/#{article._id}")
                          p.title= article.title
                    .row-fluid
                      p.summary= article.body.substring(0, 140)
                      p= moment(article.created_at).format('LL')
